.company{
    position: absolute;
    top: 1.5rem;
    right: 0;
    padding: 1rem;
    color: $Medium-Gray;
    background: $white;
    border: 1px solid $Almost-White;
    border-radius: 10px;
    width: 7rem;
    font-size: 15px;
    box-shadow: 0 5px 10px 10px $gray;
    // z-index: 30;

    @media(max-width: 37.5rem){
        position: relative;
        top: 0;
        box-shadow: none;
        border: none;
        border-radius: 0;
        padding: 0 1rem;
    }

    & > ul{
        display: grid;
        row-gap: .6rem;

        &>li{
            cursor: pointer;
        }
    }
}