.company{
    position: absolute;
    top: 1.5rem;
    right: 0;
    padding: 1rem;
    color: $Medium-Gray;
    background: $white;
    border: 1px solid $Almost-White;
    border-radius: 10px;
    width: 7rem;
    font-size: 14px;
    box-shadow: 0 5px 10px 10px $gray;

    & > ul{
        display: grid;
        row-gap: .6rem;

        &>li{
            cursor: pointer;
        }
    }
}