.header{
    display: flex;
    align-items: center;
    margin-bottom: auto;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-between;

    & > img{
        display: none;

        @media(max-width: 37.5rem){
            display: block;
        }
    }
}